.App {
  background-color: #282c34;
  color:white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 24px;
}

button {
  border-radius: 8px;
  cursor: pointer;
  font-size: 48px;
}